[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sMTL"]
	path = sMTL
	url = https://github.com/cran/sMTL
[submodule "studyStrap"]
	path = studyStrap
	url = https://github.com/cran/studyStrap
