[submodule ".registry"]
	path = .registry
	url = https://github.com/gloewing/gloewing.r-universe.dev
	branch = HEAD
[submodule "fastFGEE"]
	path = fastFGEE
	url = https://github.com/gloewing/fastFGEE
